@import '../../styles/mixins';
@import '../../styles/variables';

@mixin flag() {
    height: 16px;
    width: 26px;
    margin-right: 8px;

    &.error {
        display: none;
    }
}

.dropdown {

    div {
        background: none !important;
    }

    div.MuiPaper-root {
        transition: none !important;
    }

    .MuiFormControl-root {
        margin: 0;

        .MuiInputLabel-shrink {
            display: none;
        }

        .MuiSelect-select {
            height: 48px;
            padding-top: 0;
            padding-bottom: 0;
            @include rem(line-height, 48);
            text-align: left
        }

        label {
            @include rem(line-height, 14);
            height: 48px;
            color: rgba(0, 0, 0, 0.389);

        }

        .MuiInput-root {
            margin: 0;

            &:hover {
                animation: none;
            }
        }

        .flag {
            margin-left: 8px;
        }
    }
}


// Dropdown menu opens as a separate element
.MuiModal-root,
.dropdown {

    img.flag {
        @include flag();

    }
}

.MuiModal-root {

    max-width: 180px;

    .MuiPaper-root {
        border-radius: 0 !important;
        border: 1px solid black;
        box-shadow: none;

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            background: #85a7ae;
        }

        &::-webkit-scrollbar-thumb {
            background: #1d2441a9;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }



    }

    ul {
        background-color: $primary-color;

        li {
            white-space: normal;

            &:hover {
                background-color: #85a7ae;
            }

            min-height: 36px;
        }
    }
}