@import '../../styles/mixins';

.field.input {

    &.textarea {
        max-width: unset;
        grid-area: 6 / span 2;
        width: 100%;

        label {
            text-align: left;
            @include rem(line-height, 24);
            color: black;
        }

        .MuiInput-root::before {
            display: none;
        }

        textarea:not([readonly]) {
            border: 1px solid black;
            padding: 8px;
        }
    }

    .custom-input {
        width: 100%;

        div {
            width: 100%;
        }

        input {
            @include defaultInput();
        }
    }
}