@use "sass:math";
@import 'variables';

@mixin rem($property, $size) {
    #{$property}: math.div($size, 16) * 1rem;
}

@mixin flex() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin button-reset() {
    background: none;
    border: none;
    padding: 0;
}

@mixin mobile {
    @media (max-width: $mobile-breakpoint) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin max-tablet {
    @media (max-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin defaultInput() {
    @include rem(line-height, 48);
    height: 48px;
    padding: 0;
    width: 100%;
    min-width: 180px;
    color: black;
}

@mixin align-items($value: stretch) {
    @if $value == flex-start {
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
    } @else if $value == flex-end {
        -webkit-box-align: end;
        -moz-box-align: end;
        -ms-flex-align: end;
    } @else {
        -webkit-box-align: $value;
        -moz-box-align: $value;
        -ms-flex-align: $value;
    }
    -webkit-align-items: $value;
    align-items: $value;
}