@import '../styles/mixins';

@include mobile {
    .contact-us {
        padding: 80px 44px 40px;

        .contact-info {
            padding-bottom: 24px;
        }

        form {
            .split {
                display: flex;
                flex-direction: column;

                .field:not(.textarea) {
                    width: 100%;
                    max-width: unset;
                }

                .spacer {
                    display: none;
                }
            }
        }
    }
}