@import '../styles/mixins';

@include tablet {
    .contact-us {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding: 80px 44px 0;


        h4 {
            grid-column-start: unset;
            grid-row-start: 1;
            margin-bottom: 16px;
            text-align: center;
        }

        .contact-info {
            grid-column-start: unset;
            grid-row-start: 2;
        }

        form {
            grid-area: unset;

            .split {

                .field {
                    // min-width: 228px;
                }
            }
        }

    }
}